# dependencies

/node_modules

# production

/build
/demo
/dist

# testing

/coverage

# misc

.DS_Store
.prettierrc.js
.eslintrc.js
env.d.ts
.env.local
.env.development.local
.env.test.local
.env.production.local
