#root {
  width: 75vw;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.mobile {
  width: 320px;
}

.full-width {
  width: 100%;
}

/* demo menu */
menu ul.demo-menu {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  /* background-color: #aaa; */
}

menu ul.demo-menu li {
  list-style: none;
}

menu ul.demo-menu li button {
  border-radius: 0;
  background-color: #eee;
}
menu ul.demo-menu li button.selected {
  background-color: #b8bbff;
  pointer-events: none;
}
menu ul.demo-menu li:first-of-type button {
  border-radius: 8px 0 0 8px;
}
menu ul.demo-menu li:last-of-type button {
  border-radius: 0 8px 8px 0;
}

/* demo toolbox */
.demo-wrapper-toolbox {
  padding-bottom: 1rem;
}

.demo-wrapper-toolbox button {
  position: relative;
  border-radius: 0;
  transition-property: border-bottom-width;
  transition-duration: 0.33ms;

  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
}

.demo-wrapper-toolbox button:hover {
  border-color: transparent;
  border-bottom: 2px solid #646cff;
}

.demo-wrapper-toolbox button.selected::before {
  content: '☑';
}
.demo-wrapper-toolbox button::before {
  content: '☐';
  position: absolute;
  left: 0.1em;
  text-align: center;
}
